*checkpoint.ipynb
*checkpoint.md
*.pyc
*checkpoint.py
*checkpoint*
py/.ipynb_checkpoints
hessian.ipynb
fig
*.DS_Store
*.tplx
py/__pycache__
py/.ipynb_checkpoints
throughput/*.txt
throughput/*.csv
data/*
mk_fig
